.App {
    --header_height: 60px;
    padding: 70px 70px;
}

.hw {
margin-bottom: 100px;
}

.hwTitle {
    color: rgb(0, 0, 0);
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    font-weight: 600;

    position: relative;
    padding-bottom: 34px;
}

.hwTitle::before {
    content: "";
    width: 100vw;
    height: 2px;
    background-color: #D9D9D9;

    position: absolute;
    bottom: 24px;
    left: -70px;
}
